@font-face {
  font-family: 'NB-Regular';  
  src: url('../fonts/NB-International-Pro-Light.ttf')  format('truetype');
}


body {
  width: 100%;
  height: 100%;
  background-color: #0E1417;  
  font-family: 'NB-Regular', sans-serif;
}
